html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 25px;
}
p {
  font-family: var(--text-font-family);
  font-size: 17px;
}

/* Variables */
:root {
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiary: #99e2d0;
  --color-black: #000;
  --color-white: #fff;
  --headings-font-family: "Shrikhand", arial, sans-serif;
  --text-font-family: "Roboto", arial, sans-serif;
}

/* Header */
.container {
  width: 100%;
  padding: 0 10% 0 10%;
  text-align: center;
}
.logo img {
  padding-top: 15px;
  margin-bottom: 10px;
}
/* Location */
.location {
  background-color: #e9e9e9;
  text-align: center;
  padding: 15px 0;
  box-shadow: inset 0 5px 5px -5px #777777;
}
.location input {
  border: none;
  background: transparent;
}
.location input::placeholder {
  color: var(--color-black);
  font-family: var(--text-font-family);
  font-weight: bold;
}
.location .fa-solid {
  padding-left: 60px;
  padding-right: 20px;
}
/* Slogan */
.slogan {
  background-color: #f6f6f6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
.slogan h1 {
  font-family: var(--text-font-family);
  margin-top: 0;
}
.button-gradient {
  border-radius: 25px;
  background: linear-gradient(var(--color-secondary), var(--color-primary));
  color: var(--color-white);
  width: 220px;
  padding: 15px;
  border: none;
  box-shadow: inset 0 5px 5px -5px;
  font-family: var(--text-font-family);
}
.button-gradient-homepage {
  margin: 0 auto 10px;
}

/* Functionalities section */
.functionality-title {
  font-family: var(--text-font-family);
  margin-bottom: 15px;
  margin-inline-end: 75%;
  white-space: nowrap;
}
.functionalities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.functionalities li {
  list-style: none;
}
