html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 25px;
}
p {
  font-family: var(--text-font-family);
  font-size: 17px;
}

/* Variables */
:root {
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiary: #99e2d0;
  --color-black: #000;
  --color-white: #fff;
  --headings-font-family: "Shrikhand", arial, sans-serif;
  --text-font-family: "Roboto", arial, sans-serif;
}
