.header {
  &--withBackArrow {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: 32px;
    height: 32px;
    width: 32px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 19px;
    color: black;
  }
}
.menu {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  &__btn {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        0deg,
        $color-primary 0%,
        $color-secondary 100%
      );
    }
  }
  &__like {
    transition-duration: 0.25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
  }
  &__btn:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}
